@model IEnumerable<ShoppingCart.Data.Entity.Address>

@{
    ViewBag.Title = "Addresses";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h2>Index</h2>



@Html.Partial("_AddressTable", Model)

<p>
    <button id="create-modal-opener" class="btn btn-default" data-toggle="modal">Create New</button>
</p>

@*@{Html.RenderAction("Create", "Address", null);}*@

@Html.Partial("_Edit",null)

<div id="create-dialog-modal" title="Create Address" class="modal">
</div>
<div id="edit-dialog-modal" title="Edit Address" class="modal">
</div>

    @section scripts
{
        <script type="text/javascript">

            $("#create-modal-opener").click(function () {
                $("#create-dialog-modal").load('@Url.Action("Create","Address",null)', function (result)
                {                
                    $("#create-dialog-modal").modal({ show: true });
                    $.validator.unobtrusive.parse(this);
                });              
            });

            function onSuccess() {
                alert("asd");
                //$("#create-dialog-modal").modal("close");
                $("#window_open").modal("close");
            }
        </script>
    }
