@model ShoppingCart.Service.ViewModel.ShoppingCartViewModel
@{

    Layout = null;
    string subTotal = "";
    string total2 = "";
    string shipping = "";
    string orderTotals = "";
    if (Html.GetLanguageCode() == "tr")
    {
        subTotal = "Ara Toplam";
        total2 = "Toplam";
        shipping = "Kargo";
        orderTotals = "Sipariş toplamı";
    }
    else
    {
        subTotal = "Subtotal";
        total2 = "Total";
        shipping = "Shipping";
        orderTotals = "Order totals";
    }
}

<div class="cart-details">
    <div class="box">
        <div class="hgroup title">
            <h3>
                @orderTotals</h3>
            @*<h5>Shipping costs and taxes will be evaluated during checkout</h5>*@
    </div>

    <ul class="price-list">
        <li>@subTotal: <strong>@Model.CartTotal</strong></li>
        <li>@shipping: <strong>0</strong></li>
        <li class="important">@total2: <strong>@Model.CartTotal</strong></li>
    </ul>
</div>
</div>

