
<div class="mini-cart">
    <a href="@Url.Action("Index","Cart")"><span id="cartCount">@ViewData["CartCount"]</span></a>

    @*@Html.ActionLink("Cart (" + ViewData["CartCount"] + ")",
    "Index",
    "Cart",
    null,
    new { id = "cart-status" })*@
</div>