body {
    /*padding-top: 70px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}






div#categories { float: left; width: 14em; padding: .3em; }

.nav > li.disabled.nav-header > a {
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

li.language 
{
    vertical-align: bottom;
    height: 50px;
    display:table-cell;
}

a.flagtr
{
    background: url(../Content/Images/Flags/tr.gif) no-repeat  left;
     display: block;
     height: 50px;
     /*width: 150px;
     height: 150px;
     text-indent: -9999px; /* hides the link text */
}

a.flagus
{
    background: url(../Content/Images/Flags/us.gif) no-repeat  left;
     display: block;
     height: 50px;
     /*width: 150px;
     height: 150px;
     text-indent: -9999px; /* hides the link text */
}

/*body
{
    font-family: Trebuchet MS, sans-serif;
}*/

img.center 
{
    margin-left:auto;
    margin-right:auto;
}

div.col-md-4 
{
    margin-bottom: 20px;
}

.navbar {
    color: #000000;
    height:10px;
}

.navbar-inverse 
{
/*background-color: #dcd7d7;*/
background-color:#ffffff;
border-color: #dcd7d7;
}

*, *:before, *:after {box-sizing:  border-box !important;}


.mason {
 -moz-column-width: 15em;
 -webkit-column-width: 15em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em; 
  
}

.product.list-group-item {
 display: inline-block;
 margin:  0.55rem;
 /*padding:  1rem;*/
 width:  100%; 
 border:none;
 background-color:transparent;
}

.product-thumbnail {
    padding: 0px;
}

.panel-primary 
{
     position:fixed;
    top:10em;
}

.profilePicture {
    display: inline-block !important;
    vertical-align: middle !important;
}

footer {
    color: #FFFFFF;
    background: #dcd7d7;
    padding: 17px 0 18px 0;
    border-top: 1px solid #000;
}

.push {
            height: 223px;
        }