<div class="widget Categories">
    <ul>
        <li>
            @Html.RouteLink(Html.GetLanguageCode() == "tr" ? "Üyelik Bilgilerim" : "Profile Information",
                new
                {
                    controller = "Account",
                    action = "Manage"
                })
        </li>

        <li class="list-group-item-heading nav-header disabled">
            @Html.RouteLink(Html.GetLanguageCode() == "tr" ? "Adres Bilgilerim" : "My Addresses",
                new
                {
                    controller = "Address",
                    action = "Index"
                })
        </li>


    </ul>
</div>
