<div class="panel panel-primary well">
    <ul class="list-group nav">
        <li class="list-group-item-heading nav-header disabled">
            @Html.RouteLink(Html.GetLanguageCode() == "tr" ? "Adreslerim": "My Addresses" ,
                new
                {
                    controller = "Address",
                    action = "Index"
                })
        </li>
    </ul>
</div>
