
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CheckoutLayout.cshtml";
    string myCart = "";
    string product = "";
    string quantity = "";
    string price = "";
    string total = "";
    string continueShopping = "";
    string updateCart = "";
    string proceedToCheckout = "";
    string subTotal = "";
    string total2 = "";
    string shipping = "";
    if (Html.GetLanguageCode() == "tr")
    {
        myCart = "SEPETİM";
        product = "Ürün";
        quantity = "Adet";
        price = "BİRİM FİYAT";
        total = "TOPLAM FİYAT";
        continueShopping = "ALIŞVERİŞE DEVAM ET";
        updateCart = "SEPETİ GÜNCELLE";
        proceedToCheckout = "SATIN AL";
        subTotal = "Ara Toplam";
        total2 = "Toplam Fiyat";
        shipping = "Kargo";
    }
    else
    {
        myCart = "My Cart";
        product = "Product";
        quantity = "Quantity";
        price = "Price";
        total = "Total";
        continueShopping = "Continue Shopping";
        updateCart = "Update Cart";
        proceedToCheckout = "Proceed To Checkout";
        subTotal = "Subtotal";
        total2 = "Total";
        shipping = "Shipping";
    }
}

<section class="checkout">
        <div class="row">
            <div class="col-md-9 col-lg-9">
                <div class="box">

                    <!-- Checkout progress -->
                    <div id="checkout-progress">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#">
                                    <i class="icon-map-marker icon-large"></i>
                                    <span>Billing address</span>
                                </a>
                            </li>
                            <li>
                                <div>
                                    <i class="icon-envelope icon-large"></i>
                                    <span>Shipping address</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <i class="icon-truck icon-large"></i>
                                    <span>Shipping method</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <i class="icon-money icon-large"></i>
                                    <span>Payment method</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <i class="icon-search icon-large"></i>
                                    <span>Order review</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- End id="checkout-progress" -->
                    <!-- Checkout content -->
                    <div id="checkout-content">
                        <div class="box-header">
                            <h3>Billing address</h3>
                            <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
                        </div>
                        <div class="box-content">
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="first_name" class="control-label">First name</label>
                                        <div class="controls">
                                            <input class="col-md-12 col-lg-12" type="text" value="" name="first_name" id="first_name" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="last_name" class="control-label">Last name</label>
                                        <div class="controls">
                                            <input class="col-md-12 col-lg-12" type="text" value="" name="last_name" id="last_name" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="control-label">Email</label>
                                        <div class="controls">
                                            <input class="col-md-12 col-lg-12" type="text" value="" name="email" id="email" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone" class="control-label">Phone</label>
                                        <div class="controls">
                                            <input class="col-md-12 col-lg-12" type="text" value="" name="phone" id="phone" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="control-group">
                                        <label for="company" class="control-label">Company</label>
                                        <div class="controls">
                                            <input class="col-md-12 col-lg-12" type="text" value="" name="company" id="company" />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label for="street_address" class="control-label">Street address</label>
                                        <div class="controls">
                                            <input class="col-md-12 col-lg-12" type="text" value="" name="street_address" id="street_address" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <div class="control-group">
                                                <label for="city" class="control-label">Town / City</label>
                                                <div class="controls">
                                                    <input class="col-md-12 col-lg-12" type="text" value="" name="city" id="city" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <div class="control-group">
                                                <label for="zip" class="control-label">Zip / Postcode</label>
                                                <div class="controls">
                                                    <input class="col-md-12 col-lg-12" type="text" value="" name="zip" id="zip" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row-fluid">
                                        <div class="span6">
                                            <div class="control-group">
                                                <label for="country" class="control-label">Country</label>
                                                <div class="controls">
                                                    <select class="span12" id="country" name="country"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span6">
                                            <div class="control-group">
                                                <label for="state" class="control-label">State</label>
                                                <div class="controls">
                                                    <div id="states">
                                                        <select class="span12" id="state" name="state"></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="pull-left">
                                <a href="cart.html" class="btn btn-small">
                                    <i class="icon-chevron-left"></i> &nbsp; Back to cart
                                </a>
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary">
                                    Shipping address &nbsp; <i class="icon-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- End id="checkout-content" -->

                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="box">
                    <!-- Order totals -->
                    <div id="checkout-totals">
                        <div class="hgroup title">
                            <h3>Order total</h3>
                            <h5>Shipping costs and taxes will be calculated during checkout</h5>
                        </div>
                        <ul class="price-list">
                            <li>Subtotal: <strong>£247.98</strong></li>
                            <li>Shipping: <strong>£0.00</strong></li>
                            <li>Tax: <strong>£0.00</strong></li>
                            <li class="important">Total: <strong>£247.98</strong></li>
                        </ul>
                    </div>
                    <!-- End id="checkout-totals" -->
                </div>
            </div>
        </div>
</section>

