@model IEnumerable<ShoppingCart.Data.Entity.Address>

@{
    ViewBag.Title = "Addresses";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    <button id="modal-opener" data-toggle="modal">Open Dialog</button>
</p>

@Html.Partial("_AddressTable", Model)

@{Html.RenderAction("Create", "Address", null);}

@Html.Partial("_Edit",null)


@section scripts
{
    <script type="text/javascript">
        //$(function () {
        //    $("#dialog-modal").modal({
        //        autoOpen: false,
        //        width: 700,
        //        height: 450,
        //        show: {
        //            effect: "shake",
        //            duration: 100
        //        },
        //        hide: {
        //            effect: "explode",
        //            duration: 1000
        //        }
        //    });
        //});


        $("#modal-opener").click(function () {
            $("#create-dialog-modal").modal({ show: true });
        });

        function onSuccess() {
            //$("#create-dialog-modal").modal("close");
            $("#window_open").modal("close");
        }
    </script>
}
