@*@model IList<ShoppingCart.Domain.Entities.Product>*@
@model ShoppingCart.Service.ViewModel.ProductsListViewModel

@{
    ViewBag.Title = "Home Page";
}

<!-- Category content -->
<section class="category">

    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2">
            </div>
            <div class="col-lg-10 col-md-10">
                @if (Model.CurrentCategory != null)
                {
                    @Html.GetCategoryBreadCrumb(Model.CurrentCategory, x => Url.Action("Index", new { page = 1, categoryURLText = x }))
                }
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 ">
                    <!-- Sidebar -->
                    <aside class="sidebar">
                        @{ Html.RenderAction("Menu", "Nav"); }
                    </aside>
                    <!-- End sidebar -->
                </div>
                <div class="col-lg-10 col-md-10">
                    <ul class="product-list isotope">
                        @foreach (var p in Model.Products)
                        {
                            Html.RenderPartial("ProductSummary", p);
                        }
                    </ul>
                </div>
            </div>
            </div>
</section>








    <div class="pager">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x, categoryURLText = Model.CurrentCategory }))
    </div>

